// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-outline-warning {
    border-color: transparent;
}

.btn-outline-primary {
    border-color: transparent;
}

.btn-outline-danger {
    border-color: transparent;
}
